<%= render partial: "shared/nav" %>

<h1>Coupon Show Page</h1> 

<h3>Name: <%= @coupon.name %></h3>
<p>Code: <%= @coupon.code %></p>
<% if @coupon.amount_type == "percent" %>
  <p>Discount Value: <%= @coupon.value %>%</p>
<% else %>
  <p>Discount Value: $<%= @coupon.value %></p>
<% end %>
<p>Status: <%= @coupon.status %></p>
<p>Times Used: <%= @coupon.times_used %></p>

<% if @coupon.status == ("active") %> 
  <p><%= button_to "Deactivate Coupon", method: :patch, merchant: @merchant.id, :deactivate => true %></p>
<% else %>
  <p><%= button_to "Activate Coupon", method: :patch, :merchant => @merchant.id, :activate => true %></p>
<% end %>

<%= link_to "Coupon Index Page", merchant_coupons_path(@merchant) %>